.mainContent-20q_Hp {
cursor: default;
}

.iconBase-2G48Fc {
cursor: default;
}

.clickable-2AoIYN {
cursor: default;
}

.clickable-ZD7xvu {
cursor: default;
}

.clickable-3VeFBy {
cursor: default;
}

.clickable-31pE3P {
cursor: default;
}

.clickable-vvKY2q {
cursor: default;
}

.clickable-GKg4Qy {
cursor: default;
}

.clickable-djKT1x {
cursor: default;
}

.interactive-1vLZ_I {
cursor: default;
}

.interactive-2zD88a {
cursor: default;
}

.pointer-1msEBz {
cursor: default;
}

.friendWrapper-2x5j0A {
cursor: default;
}

.tag-15zcD_ {
cursor: default;
}

.link-39sEB3 {
cursor: default;
}

.peopleListItem-u6dGxF {
cursor: default;
}

.actionButton-3-B2x- {
cursor: default;
}

.repliedTextPreview-1bvxun.clickable-31pE3P {
cursor: default;
}

.item-1OdjEX {
cursor: default;
}

.item-3XjbnG {
cursor: default;
}

.item-2idW98 {
cursor: default;
}

.item-1BCeuB {
cursor: default;
}

.channelName-3APnhp, .guildName-y1svcU {
cursor: default;
}

.dmIcon-1ZeAqq, .guildIcon-IklRcj {
cursor: default;
}

button {
cursor: default;
}

.app-2CXKsg button {
cursor: default;
}

.button-1_oXub {
cursor: default;
}

.button-cfOvv- {
cursor: default;
}

.jumpButton-1V_1FA {
cursor: default;
}

.closeButton-PCZcma {
cursor: default;
}

.jumpButton-1ZwI_j {
cursor: default;
}

.addButtonIcon-3HZ_2f {
cursor: default;
}

.closeIcon-2IriN1 {
cursor: default;
}

.searchIcon-zpxirk {
cursor: default;
}

.tierCloseClose-T256RA {
cursor: default
}

.embedSuppressButton-1rZHq6 {
cursor: default;
}

.close-1mLglB {
cursor: default;
}

.closeIcon-2shGNU {
cursor: default;
}

.iconButton-2rHy7x {
cursor: default
}

.icon-3DnmvF {
cursor: default;
}

.clear-2KQ7l1 {
cursor: default;
}

.button-3bklZh {
cursor: default;
}

.buttonWrapper-3YFQGJ {
cursor: default;
}

.circleIconButton-1VxDrg {
cursor: default;
}

.button-1yVL_7 {
cursor: default;
}

.pencilContainer-18TrEJ {
cursor: default;
}

.wrapper-28eC3z {
cursor: default;
}

.folder-241Joy {
cursor: default;
}

.select-1Ia3hD {
cursor: default;
}

.option-2eIyOn {
cursor: default;
}

.planOption-187LtR {
cursor: default;
}

.title-2dsDLn {
cursor: default;
}

.container-2nx-BQ, .input-2XRLou {
cursor: default
}

.bannerNitroUpsell-2iP18z {
cursor: default;
}

.fileInput-1LZSb9 {
cursor: default;
}

.colorSwatch-3KbHGH {
cursor: default;
}

.emojiItem-277VFM {
cursor: default;
}

.diversityEmojiItem-2bgZKv {
cursor: default;
}

.diversitySelectorButton-2CGlo5 {
cursor: default;
}

.clickable-28SzVr {
cursor: default;
}

.topic-11NuQZ.expandable-3CaLeS {
cursor: default;
}

.container-2rzKKA {
cursor: default;
}

.searchResult-O9NDji {
cursor: default;
}

.channelName-3w2Y3c {
cursor: default;
}

.pageButton-1GMGeJ {
cursor: default;
}

.card-2TuZPZ {
cursor: default;
}

.clearIcon-TMIIUa {
cursor: default;
}

.closeIcon-11tHJX {
cursor: default;
}

.categoryPill-1zjNrr {
cursor: default;
}

.container-2R6xAU {
cursor: default;
}

.categoryItem-Kc_HK_ {
cursor: default;
}

.sidebarHeaderDefault-1BHqHQ {
cursor: default;
}

.container-1oeRFJ {
cursor: default;
}

.voiceUser-3nRK-K {
cursor: default;
}

.tile-2Dr6M1 {
cursor: default;
}

.row-1Ib2uD {
cursor: default;
}

.advancedTitle-s3s2oT {
cursor: default;
}

.container-2giAcK {
cursor: default;
}

.replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
cursor: default;
}

.mentionButton-3C5YMI {
cursor: default;
}

.closeButton-3IEry2 {
cursor: default;
}

.container-x8Y1ix {
cursor: default;
}

.carouselItemClickable-1xNf2x {
cursor: default;
}

.queryContainer-ZunrLZ {
cursor: default;
}

.option-ayUoaq {
cursor: default;
}

.infoIcon-2QPCcI {
cursor: default;
}

.container-3EtAkD {
cursor: default;
}

.emptyRoles-35rHsg, .roleRow-3LoHQ6 {
cursor: default;
}

.title-JU0E7C {
cursor: default;
}

.titleText-3LapIU {
margin-top: 3px;
}

.addRole-viKZpC {
cursor: default;
}

.menu-2p630X {
cursor: default;
}

.quickSelectClick-2ycwNA {
cursor: default;
}

.headerClickable-zGQJz3, .headerExpanded-1-zwDr {
cursor: default;
}

.header-2WDlmg {
cursor: default;
}

.breadcrumbInactive-1gWeSM {
cursor: default;
}

.winButton-3UMjdg {
cursor: default;
}

.listRow-2nO1T6 {
cursor: default;
}

.additionalActionsIcon-3Cy8UU {
cursor: default;
}

.result-pzZrwj {
cursor: default;
}

.backButton-bSKWLe {
cursor: default;
}

.header-1XpmZs {
cursor: default !important;
}

.sticker-2Yb_-L {
cursor: default;
}

.categoryItem-1sHzUv {
cursor: default;
}

.container-3i3IzO {
cursor: default;
}

.card-PQEqCK {
cursor: default;
}

.openFullPreviewSection-31zc2v {
cursor: default;
}

.toggleExpandSection-1710zV {
cursor: default;
}

.result-u66Ywh {
cursor: default;
}

.removeAttachmentButton-1iO1qS {
cursor: default;
}